Package: deepin-lianliankan-dbgsym
Source: deepin-lianliankan
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Packages <deepin@deepin.com>
Installed-Size: 1266
Depends: deepin-lianliankan (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for deepin-lianliankan
Build-Ids: 7feb21b43bfe0d1fdefaeebc9adc693116093334
