[Desktop Entry]
Categories=Qt
Exec=/usr/bin/deepin-lianliankan %F
GenericName=LianLianKan
Icon=deepin-lianliankan
Name=Deepin LianLianKan
Keywords=lianliankan;game;deepin;
StartupNotify=true
TryExec=/usr/bin/deepin-lianliankan 
Type=Application
X-Deepin-Vendor=Deepin
